#wallpaper {
    width: 100%;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    display: grid;
    place-items: center;
    min-height: 150px;
    height: 100vh;
    transition: 0.5s ease;


}


.firstSearch{
    height: 30vh !important;
}



#search {
    background-color: white;
    width: max-content;
    padding: 15px 35px 10px 35px;
    border-radius: 7px;
}

.example-full-width {
    width: 500px;
}

#search mat-form-field {
    margin-right: 50px;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .example-full-width {
        width: 300px;
    }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
    .example-full-width {
        width: 170px;
    }
    #search mat-form-field {
        margin-right: 30px;
    }
}

@media screen and (max-width: 450px) {
    .example-full-width {
        width: 100px;
    }
    #search mat-form-field {
        margin-right: 30px;
    }
}

@media screen and (max-width: 370px) {
    #search {
        display: flex;
        flex-direction: column;
    }
    #search mat-form-field {
        margin-right: 0px;
    }
    #wallpaper {
        background: #fff;
    }
    .example-full-width {
        width: 100%;
    }
}