<app-barre-de-recherche (searchName)="launchSearch($event)"></app-barre-de-recherche>
<div id="giga_result_container">

  <div *ngIf="businesses?.length > 0" id="result_container">

      <!-- <h4 id="nbResults" class="mat-h4 mat-subheading-1">Nombre de résultat : 150</h4> -->
      <div class="element" *ngFor="let business of businesses">

          <div class="imgContainer">
              <img [src]="business.image_url != '' ? business.image_url : dummy_image">

          </div>
          <div class="info"> 
              <div class="text">
                  <p class="title">{{business.name}}</p>
                  <p class="adress">{{business.location.address1}}, {{business.location.zipcode}} {{business.location.city}}<br><span style="color:grey;">À {{(business.distance / 1000).toFixed(1)}} km de vous !</span></p>
              </div>
              <div class="options">
                <p *ngIf="business.price != undefined" class="price">{{(business.price).replace("$", "€")}}</p>
                <p *ngIf="business.price == undefined" style="color:grey" class="price">----</p>
                  <div class="stars">
                      <img *ngFor="let item of arrayStars(business.rating); let i=index"  class="star" style="width:15px" src="../../assets/images/star.png">
                  </div>

                  <div class="avaible">
                      <div *ngIf="business.is_closed; else elseTemplate" class="main">
                          <p class="closet"><img class="avaible_logo" style="width:15px" src="../../assets/images/close.png"> Fermé</p>
                        </div>
                        <ng-template #elseTemplate>
                            <p class="open"><img class="avaible_logo" style="width:15px" src="../../assets/images/dot.png"> Ouvert</p>

                      </ng-template>
                  </div>
                  <button mat-flat-button color="primary" (click)="appeler($event, business.phone)"><img class="phone_logo" style="width:15px"src="../../assets/images/phone.png">Appeler</button>
              </div>

          </div>

      </div>

  </div>  
    <div *ngIf="businesses?.length == 0" id="result_container">
      <h2>No results found.</h2>
    </div>

</div>


