<app-barre-de-recherche (filtre_emit)="launchSearch($event)"></app-barre-de-recherche>
<div id="giga_result_container">
  <div id="result_container">
    <div *ngIf="businesses?.length > 0" id="result_container_if" >
      <!-- <h4 id="nbResults" class="mat-h4 mat-subheading-1">Nombre de résultat : 150</h4> -->
          <app-card *ngFor="let business of businesses" [business]='business' ></app-card>
    </div>  
    <div *ngIf="businesses?.length == 0" id="result_container">
      <h2>No results found.</h2>
    </div>
  </div>
</div>